<!DOCTYPE html>
<html lang="ja">
  <head >
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <style>.wrappr{padding-top: 55px  } </style>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
              <ul class="nav">
                <form action="/create" method="post" id="frm" class="pull-left">
                  <label for="text" class="text-primary">Text</label>
                    <input type="text" name="text" id="text">
                  <input type="submit" value= "add" name="commit" class="btn btn-primary"></input>
                </form>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class = "wrappr">
      <div class="continer-fluid">
        <div class = "row">
          <div class="col-md-3">
            <div class="navbar navbar-default" role="navigation">
          
              sideber
              <%50.times do%>
                hello</br>
              <%end%>
            </div>
            <%# render 'sideber' %>
          </div>
          <div class="col-md-9">
            <div class = "continer-fluid">
              <div class="col-md-6">
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </body>
</html>
























